{% extends "model-page.html" %}
{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/">
        <button type="button">Novo Evento</button>
    </a>
    <ol>
        {% for evento in eventos %}
        {% if not evento.lixo %}
        <li><h3>
            <div style={% if evento.get_evento_atrasado %}
                         "color: rgb(255, 100, 100)"
                        {% endif %}
                        {% if evento.get_evento_quaseHora %}
                        "color: rgb(255, 155, 70)"
                        {% endif %}
            >
            {{ evento.titulo }}
            ( <a href="evento/?id={{ evento.id }}">Editar</a> /
            <a href="delete/{{ evento.id }}">Excluir</a> )
            </div>
        </h3></li>
        <ul>
            {% if evento.descricao != '' %}
            <li><p><ins>Descrição</ins>: {{ evento.descricao }}</p></li>
            {% endif %}
            <li><p><ins>Data do Evento</ins>: {{ evento.get_data_evento }}</p></li>
            {% if evento.local != '' %}
            <li><p><ins>Local</ins>: {{ evento.local }}</p></li>
            {% endif %}
            <li><p>Criado em {{ evento.get_data_criacao }}</p></li>
        </ul>
        {% endif %}
        {% endfor %}
    </ol>
    <a href="historico/">
        <button type="button">Eventos Passados</button>
    </a><br><br>
    <a href="lixeira/">
        <button type="button">Lixeira</button>
    </a>
{% endblock %}