{% extends "model-page.html" %}
{% block content %}
    <h2>Agendamentos</h2>
    <ol>
        {% for evento in eventos %}
        <li><h3>{{ evento.titulo }}</h3></li>
        <ul>
            {% if evento.descricao != '' %}
            <li><p><ins>Descrição</ins>: {{ evento.descricao }}</p></li>
            {% endif %}
            <li><p><ins>Data do Evento</ins>: {{ evento.get_data_evento }}</p></li>
            <li><p>Registrado por <ins>{{ evento.usuario }}</ins> em {{ evento.get_data_criacao }}</p></li>
        </ul>
        <hr>
        {% endfor %}
    </ol>
{% endblock %}