{% extends "model-page.html" %}
{% block content %}

<form action="submit" method="POST">{% csrf_token %}
    <h2>Evento</h2>
    <input type="number" name="id_evento" value="{{ evento.id }}" hidden />
    <input type="radio" name="lixo" value="true" hidden />
    <input type="radio" name="lixo" value="false" checked hidden />
    <label>Título</label><br>
    <input type="text" name="titulo" size="23" value="{{ evento.titulo }}" required="required"><br>
    <label>Data do Evento</label><br>
    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_evento_input }}" required="required"><br>
    <label>Descrição</label><br>
    <textarea name="descricao" rows="5" cols="24">{{ evento.descricao }}</textarea><br>
    <label>Local</label><br>
    <input type="text" name="local" size="23" value="{{ evento.local }}"><br><br>
    <button type="submit">Salvar</button>
</form>
    <a href="/">
        <button type="submit">Cancelar</button>
    </a>


{% endblock %}