<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="submit" method="POST">{% csrf_token %}
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
            <label>Usuário:</label>
            <input type="text" name="username">
            <label>Senha:</label>
            <input type="password" name="password">
            <button type="submit">Entrar</button>
        </div>
    </form>
    {% for message in messages %}
    <div style="display: flex; justify-content: center;">
    <p><strong>Erro! </strong>{{ message }}</p>
    </div>
    {% endfor %}
</body>
</html>